{% extends 'base.html.twig' %}

{% block title %}Modification Mot De Passe{% endblock %}

{% block content %}
    <h1>Modification Mot De Passe</h1>
    <a href="{{ path('account') }}"> Retour au compte </a><br>
    <br>
    {% if notif %}
    <div class="alert alert-warning">{{ notif }}</div>
    {% endif %}
    <br>
    {{ form(form) }}
    <br>
{% endblock %}
