body{
    position: relative;
    padding-top:0 !important;
    padding-bottom: 0 !important;
    background-image: url(../img/background.jpg);
    /*background-repeat: repeat;*/
    background-size: contain;
}
a{text-decoration: none;}
.container-custom{
    background-image: url(../img/header.jpg);
}
.navbar-custom{
    z-index: 0;
    color: #000000;
    background: transparent !important;
    padding: 0 !important;
    height: 200px;
}
.navbar-custom .navbar-nav .nav-item {
    padding: 10px;
}
.navbar-custom a.nav-link {
    font-size: 20px;
    font-weight: bolder;
    padding: 0px !important;
}
.navbar-item-custom{ margin-right: 20px;}
.navbar-item-custom a{
    color: black;
    font-weight: bold;
    margin: 5px;
}
.footer-custom{
    text-align: center;
    position:absolute;
    /*bottom: 0;*/
    width: 100%;
    background-color: transparent !important /*#dfeaff*/;
    background-image: url(../img/header.jpg);
    padding-top: 25px;
    margin-top: 50px;
}
.footer-custom p{
    color:black;
    mix-blend-mode: color-burn;
}
.footer-custom a{
    color:black;
    text-decoration:none;
}
.product-container{
    margin-bottom: 150px;
}
.product-item-custom{
    text-align: center;
    margin: 20px;
}
.product-item-custom:hover{
    box-shadow: 10px 10px 15px 5px rgba(255, 193, 7),
                10px -10px 15px 5px rgba(255, 193, 7),
               -10px 10px 15px 5px rgba(255, 193, 7),
               -10px -10px 15px 5px rgba(255, 193, 7);
    text-align: center;
    padding:0 !important;
    margin: 5px;
}
.product-item-custom a{
    color: black;
    text-decoration: none;
}
.product-item-custom h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}
.product-item-custom .product-sub{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.product-item-custom .product-price{
    font-size: 15px;
    font-weight: bold;
}
.product-page-price{
    font-size: 20px;
}
.cart-icon{
    height: 90px;
    margin-left: 0px;
    margin-right: 0px;
}
.menu-icon{
    height: 90px;
}
.block-small{
    max-width: 600px;;
    margin: 0 auto;
}
.form-check{
    color:white;
    padding:20px 65px;
}
.col-form-label{
    color:white;
    font-weight: bolder;
}
.order-summary{
    padding: 20px;
    margin-top: 22px;   
}
.td-light{
    color:white !important;
}
textarea {
    resize:none;
}
.account-item{
    padding:40px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid #ffc107;
}
.account-item-a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    color: black;
}
.account-item-a:hover{
    text-decoration: none;
    color: white;
}
.account-item:hover img{
    filter: invert(100%);
}

.card-img-top{
    height: 200px;
}
.card-body{
    height: 200px;
}

.card-title{
    padding-top: 20px;
}

.product-sub{
    padding-top: 5px;
}

hr{
    background-color: #ffc107;
}