{% extends 'base.html.twig' %}

{% block title %}Inscription Boucherie{% endblock %}

{% block content %}
    <div class="td-light">
        <h1>Formulaire D'inscription</h1>
        <br>
        {{ form(form) }}
    </div>
{% endblock %}
